<div class="container">
	<div class="navigation">
		<div class="egg">
			<div class="dynamic">
			<div class="dynamic__txt"><h2 class=" h2 h2--small egg__title">about jetro</h2></div>
			<div class="dynamic__line"></div>
			</div>
			<p class="p egg__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
			</p>
		</div>

		<div class="egg">
			<div class="dynamic">
			<div class="dynamic__txt"><h2 class=" h2 h2--small egg__title">Categories</h2></div>
			<div class="dynamic__line"></div>
			</div>
			<ul class="egg__list">
				<li class="egg__item"><a href="#" class="egg__link">Video (3)</a></li>
				<li class="egg__item"><a href="#" class="egg__link">Sports (5)</a></li>
				<li class="egg__item"><a href="#" class="egg__link">Media (2)</a></li>
				<li class="egg__item"><a href="#" class="egg__link">Entertainment (7)</a></li>
				<li class="egg__item"><a href="#" class="egg__link">Life (4)</a></li>
				<li class="egg__item"><a href="#" class="egg__link">Super Cool Stuff (8)</a></li>	
			</ul>
		</div>

		<div class="egg">
			<div class="dynamic">
			<div class="dynamic__txt"><h2 class=" h2 h2--small egg__title">photo gallery</h2></div>
			<div class="dynamic__line"></div>
			</div>
			<div class="grid">
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
				<div class="grid__item"></div>
			</div>
		</div>
	</div>
</div>