<div class="section">
	<div class="container">
		<div class="article">
			<div class="icon"> <img src="img/photo.svg" alt=""> </div>
					<div class="gallery js-gallery">
						<img src="img/slider-1.jpg" alt="">
						<img src="img/slider-2.jpg" alt="">
						<img src="img/slider-3.jpg" alt="">
						<img src="img/slider-4.jpg" alt="">
						<img src="img/slider-5.jpg" alt="">
					</div>
					<div class="post">
						<div class="post__info">
							<h2 class="h2 h2--small">Date</h2>
							<p class="small-txt">April 15, 2012</p>
							<h2 class="h2 h2--small">Tags</h2>
							<p class="small-txt">Website|design</p>
							<h2 class="h2 h2--small">comments</h2>
							<p class="small-txt">4</p>
						</div>
						<div class="post__title">
							<h2 class="h2">top wordpress theme of 2012</h2>
							<div class="post__txt">
								<p class="p">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
								<p class="p p--two">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>

							</div>

						</div>

					</div>
					<div class="line"></div>
			</div>

			<div class="article">
			<div class="icon"> <img src="img/file.svg" alt=""> </div>
					<div class="article__img">
						<img src="img/main_img.svg" alt="">
					</div>
					<div class="post">
						<div class="post__info">
							<h2 class="h2 h2--small">Date</h2>
							<p class="small-txt">April 15, 2012</p>
							<h2 class="h2 h2--small">Tags</h2>
							<p class="small-txt">Website|design</p>
							<h2 class="h2 h2--small">comments</h2>
							<p class="small-txt">4</p>
						</div>
						<div class="post__title">
							<h2 class="h2">jesus typography wallpaper giveaway!</h2>
							<div class="post__txt">
								<p class="p">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
								<p class="p p--two">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>

							</div>

						</div>

					</div>
					<div class="line"></div>
			</div>

			<div class="article">
			<div class="icon"> <img src="img/“.svg" alt=""> </div>
					<div class="citation">
						<div class="citation__img">
							<img src="img/“orange.svg" alt="">
						</div>
						<div class="citation__txt">
							<p class="p"> <i>Write anything you want here in this quotable area. Something unique you want people to learn 
							about your website or some cool random fact. Its totally up to you. Write anything you want 
							here in this quotable area. Something unique you want people to learn 
							about your website or some cool random fact. Its totally up to you.</i></p>
						</div>

					</div>
					<div class="line"></div>
			</div>
			<div class="article">
					<div class="icon"> <img src="img/link.svg" alt=""> </div>
						<div class="preview">
								<h2 class="h2 h2--minmarg">Some  of  the  best  freebies  on  the  web</h2>
								<p class="small-txt">www.bestpsdfreebies.com</p>
								<p class="p p--two">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
								</p>
						</div>
					
					<div class="line"></div>
			</div>
			<div class="index">
				<div class="index__num index__num-is-active">1</div>
				<div class="index__num">2</div>
				<div class="index__num">3</div>
			</div>
	</div>
</div>